@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Source+Sans+Pro:400,700&display=swap&subset=cyrillic,cyrillic-ext');

//font-family: 'Oswald', sans-serif;
//font-family: 'Source Sans Pro', sans-serif;

$font-family-sans-serif: 'Arial', 'Helvetica', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

$fontFamilyOne: 'Oswald', sans-serif; // titles
$fontFamilyTwo: 'Source Sans Pro', sans-serif; // body
